
<div *ngIf="counter>0; then thenBlock else elseBlock"></div>
<ng-template #elseBlock>
<div class="text-center">
  <img src="./../../assets/images/54b13147340145.Y3JvcCw0MDUsMzE3LDAsNDI.png" alt="">
</div>
</ng-template>
<ng-template #thenBlock>
<h2 class="card-title">check = {{total}}</h2>
<div class="card mb-3 mt-3" *ngFor="let product of productes" >
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center">
          <img [src]='product.image'  class="img-fluid rounded-start text-center p-3 " width="200px" alt="...">
    </div>
      <div class="col-md-8">
        <div class="card-body">
            <h2 class="card-title">{{product.title}}</h2>
            <h4>{{product.price | currency : ' EGY '}}</h4>   
          
            <div class="d-flex">
                <button class="btn btn-danger" (click)="decreaseQuantity(product.id)" >-</button>
                <h4 class="mx-5">{{ product.quantity }}</h4>
                <button class="btn btn-success" (click)="increaseQuantity(product.id)" >+</button>
              </div>
              <button class="btn btn-danger mt-3" (click)="removeProduct(product.id)">remove</button>
                             
        </div>
      </div>
    </div>
  </div>
</ng-template>





  